beautifulsoup4 
Bottleneck 
brotlipy==0.7.0
certifi==2021.10.8
cffi 
charset-normalizer 
click==8.0.3
cryptography 
cycler 
Flask 
fonttools==4.25.0
gunicorn
idna 
itsdangerous 
Jinja2 
joblib 
kiwisolver 
lxml 
MarkupSafe 
matplotlib 
munkres==1.1.4
numexpr 
numpy 
olefile 
packaging 
pandas==1.4.1
Pillow==8.4.0
pycparser 
pyOpenSSL 
pyparsing 
PySocks 
python-dateutil
pytz==2021.3
requests 
scikit-learn
scipy 
seaborn 
sip
six 
soupsieve 
threadpoolctl 
tornado 
urllib3 
Werkzeug 
