<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>
        <title>Search engine</title>
        <meta name="description" content="Search engine using Flask"/>
        <meta name="creator" content="Team One"/>
    </head>
    <body>
        <main>
            <div class="container p-3">
                <header class="container p-3 border-bottom">
                    <h1>TF-IDF cosine-similarity search engine</h1>
                </header>
                <section class="container p-3">
                    <!-- <form>
                        <input type="radio" id="b" name="search_type" value="b">
                        <label for="b">Boolean search</label>
                        <input type="radio" id="t" name="search_type" value="t">
                        <label for="t">TF-IDF cosine-similarity search</label>
                        <input type="submit" value="Choose"/>
                    </form> -->
                    <form>
                        <input type="text" name="query" autofocus/>
                        <input type="submit" value="Search"/>
                    </form>
                </section>
                <section class="container p-3">
                    <table class="table">
                        <caption class="">Results</caption>
                        <thead>
                            <tr>
                                <th scope="col">Hit #</th>
                                <th scope="col">Score</th>
                                <th scope="col">Document name</th>
                                <th scope="col">Document content</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in matches %}
                            <tr>
                                <th scope="row">
                                    {{ item['hit'] }}
                                </th>
                                <td>
                                    {{ item['score'] }}
                                </td>
                                <td>
                                    {{ item['name'] }}
                                </td>
                                <td>
                                    {{ item['content'] }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
                <footer class="container p-3 text-muted border-top">
                    <p>Made by Team One in 2022</p>
                </footer>
            </div>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
